
@import '../containers//UserApp.css';

.PercentTimeIndicator{
    display: flex;
    padding: 1vh;
    gap: 1vh;
}

.PercentTimeIndicator strong{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 500;
}

.PercentTimeIndicator .positive {
    color: #36BBA7 ;
}

.PercentTimeIndicator .negative {
    color: #FF6467 ;
}

.PercentTimeIndicator span{
    font-size: clamp(2px,2vh,20px);
    color: var(--descriptionText);
    font-weight: 400;
}