@import '../containers/UserApp.css';

.SearchinList{
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
    position: relative;
}

.SearchinList label{
    margin-bottom: 1.5vh;
    font-size: clamp(1px,2.5vh,20px);
    font-weight: 500;
    color: var(--mainText);
}

.SearchinList .SlistC{
    display: flex;
    width: 100%;
    position: relative;
}

.SearchinList .SlistC input{
    width:100%;
    padding: 1vh 2vh;
    border-radius: .5vh;
    border: hidden;
    outline: solid .1vh var(--inputsBorder);
    box-shadow: 0 .4vh 1vh var(--translucidMenu);
    color: var(--descriptionText);
    background-color: var(--inputsBg);
    z-index: 5;
    font-size: clamp(2.2px,2.2vh,22px);
    transition: .3s;
}

.SearchinList .SlistC input:focus{
    color: var(--mainText);
    outline: solid .2vh #155DFC;
}

.SearchinList .SlistC .listElementsContainer{
    position: absolute;
    top: 4.8vh;
    left: 0;
    list-style: none;
    background-color: var(--bg);
    outline: solid .1vh var(--inputsBg);
    backdrop-filter: blur(1vh);
    z-index: 8;
    width: 100%;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    box-shadow: 0 .4vh 1vh #3335;
    max-height: 20vh;
    overflow: auto;
    overflow-x: hidden;
    animation-name: appearList;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.SearchinList .clearSelectedOptionBtn{
    position: absolute;
    right: 2vh;
    top: 1vh;
    color: var(--descriptionText);
    z-index: 10;
    font-size: clamp(2.2px,2.5vh,25px);
    cursor: pointer;
}
 
.SearchinList .clearSelectedOptionBtn:hover{
    color: var(--mainText);
}

.SearchinList .SlistC .listElementsContainer li{
    padding: 1vh 2vh;
    font-size: clamp(1px,2.2vh,20px);
    cursor: pointer;
    color: var(--descriptionText);
    transition: .3s;
}

.SearchinList .SlistC .listElementsContainer li:hover{
    background-color: var(--iconHover);
    padding-left: 3vh;
    color: var(--mainText);
}

.SearchinList .SlistC .listElementsContainer .focused-item{
    background-color: #007AFF;
    padding-left: 3vh;
    color: #fff;
}

@keyframes appearList {
    0%{
        top: 0;
        z-index: 4;
    }

    40%{
        z-index: 4;
    }

    100%{
        top: 4.8vh;
        z-index: 8;
    }
}