
.OptionsChatAi{
    position: relative;
    border-radius: 3vh;
    display: flex;
    padding: 1vh;
    cursor: pointer;
    transition: .3s all ease;
    outline: solid .1vh var(--menuAside);
}

.OptionsChatAi:hover{
    background-color: var(--cardHover);
    outline: solid .1vh var(--inputsBorder);
}

.OptionsChatAi .selectedOptionHolder{
    margin: auto;
    padding: 0 1vh;
    color: var(--mainText);
    display: flex;
}

.OptionsChatAi .selectedOptionHolder .childrenIndicator{
    margin: auto 0;
    margin-right: 2vh;
    font-size: clamp(2.5px,2.5vh,25px);
}

.OptionsChatAi .selectedOptionHolder .selectedOption{
    margin: auto 0;
    display: flex;
    gap: 1vh;
    font-size: clamp(2px,2vh,20px);
    font-weight: 400;
}

.OptionsChatAi .selectedOptionHolder .selectedOption span{
    margin: auto 0;
}

.OptionsChatAi .selectedOptionHolder .selectedOption i{
    margin: auto 0;
    font-size: clamp(2.5px,2vh,25px);
}

.OptionsChatAi .selectedOptionHolder .selectedOption img{
    height: 3vh;
    width: 3vh;
    margin: auto 0;
}

.OptionsChatAi .listOptions{
    position: absolute;
    width: fit-content;
    bottom: 120%;
    left: 0;
    outline: solid .1vh var(--inputsBorder);
    border-radius: 2vh;
    background-color: var(--translucidMenu);
    backdrop-filter: blur(1vh);
}

.OptionsChatAi .listOptions li{
    display: flex;
    padding: 1.5vh 3vh;
    color: var(--descriptionText);
    gap: 1vh;
    font-size: clamp(2px,2vh,20px);
    transition: .3s ease all;
}

.OptionsChatAi .listOptions li:hover{
    background-color: var(--cardHover);
    color: var(--mainText);
    padding-left: 3.5vh;
}

.OptionsChatAi .listOptions li:first-child{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.OptionsChatAi .listOptions li:last-child{
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.OptionsChatAi .listOptions li i{
    margin: auto 0;
    font-size: clamp(2.5px,2.5vh,25px);
    width: 3vh;
    text-align: center;
}

.OptionsChatAi .listOptions li span{
    margin: auto 0;
    width: max-content;
    text-wrap: nowrap;
}

.OptionsChatAi .listOptions li img{
    height: 3vh;
    width: 3vh;
    margin: auto 0;
}