
.FormNewCategory{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    padding-top: 4vh;
}

.FormNewCategory .BoldTitle{
    margin: 2vh auto;
}

.FormNewCategory form{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.FormNewCategory .userPhoto{ 
    margin: 1vh auto;
    height: 20vh;
    width: 70%;
    padding: 1vh;
    cursor: pointer;
}

.FormNewCategory .actualPhoto{
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    padding: 1vh;
    overflow: hidden;
    background-color: var(--inputsBg);
    outline: dashed .2vh var(--inputsBorder);
}

.FormNewCategory .actualPhoto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.FormNewCategory .userPhoto .FileInput{
    display: none;
}

.FormNewCategory .userPhoto:hover .actualPhoto{
    display: none;
}


.FormNewCategory .userPhoto:hover .FileInput{
    display: block;
}
