
.FormNewDeparture{
    min-width: 45vh;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}


.FormNewDeparture .BoldTitle{
    margin: 0 auto;
    margin-bottom: 2vh;
    text-align: center;
}


.FormNewDeparture form{
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.FormNewDeparture form .SearchinList, .FormNewDeparture form .FormInput{
    margin-bottom: 1vh;
}

.FormNewDeparture form .FormButton{
    margin: 2vh auto;
}

.FormNewDeparture form .infoMaxU{
    max-width: 45vh;
    padding: 2vh;
    border-radius: 1vh;
    background-color: #f0f0f0;
    margin: 1vh auto;
}

.FormNewDeparture form .ExcesUnits{
    background-color: #FFE2E2;
}

.FormNewDeparture form .infoMaxU h5{
    margin-bottom: 1vh;
    font-weight: 600;
    color: #333;
    font-size: clamp(2.2px,2.5vh,30px);
}

.FormNewDeparture form .infoMaxU span{
    font-size: clamp(2.2px,2.5vh,30px);
    color: #555;
}

.FormNewDeparture form .infoMaxU span strong{
    font-weight: 600;
    color: #222;
}

.FormNewDeparture form .infoMaxU i{
    margin-left: 1vh;
}
