
.RowPricesList{
    display: flex;
    background-color: var(--bg);
    backdrop-filter: blur(.5vh);
    border: solid .1vh #E3E3E3;
    margin-top: .1vh;
    transition: .3s;
    gap: 1vw;
    padding:0 1vh;
    border-bottom: 0;
}

.RowPricesList .ElementRow{
    width: fit-content;
    margin: auto 0;
    padding: .1vh;
    width: 10vw;
    padding: 1vh 0;
}

.RowPricesList .ElementRow .rowSpan{
    padding: .9vh 1vh;
    width: 10vw;
    font-size: clamp(2px,2vh,20px);
    color: var(--descriptionText);
}

.RowPricesList .ElementRow .idHolder{
    width: 5vw;
}

.RowPricesList .ElementRow .valueUpdateIn{
    width: 10vw;
    height: 5vh;
    padding: 0 1vh;
    margin: auto 0;
    box-sizing: border-box;
    font-size: clamp(2px,2vh,20px);
    color: var(--descriptionText);
    border: solid .1vh var(--inputsBorder);
    background-color: var(--inputsBg);
    border-radius: 1vh;
    text-align: right;
}

.RowPricesList .ElementRow .valueUpdateIn:hover{
    background-color: var(--cardHover);
}

.RowPricesList .ElementRow .valueUpdateIn:focus{
    background-color: var(--inputsBg);
    color: var(--mainText);
    outline: solid .2vh #007AFF;
}