@import '../containers/UserApp.css';

.UserCard{
    display: flex;
    padding: .5vh;
    height: fit-content;
}

.UserCard img{
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 1vh;
    background-color: var(--cardHover);
    margin-right: 1vh;
    object-fit: cover;
    border: solid .1vh var(--inputsBorder);
}

.UserCard .infoUser{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto 0;
}

.UserCard .infoUser strong{
    font-size: clamp(2.5px,2.4vh,25px);
    font-weight: 600;
    color: var(--sectionTitle);
    margin-bottom: .2vh;
}


.UserCard .infoUser span{
    font-size: clamp(2.5px,2vh,25px);
    font-weight: 400;
    color: var(--descriptionText);
}