# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
dist_electron/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*

# Editor / sistema
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage
coverage/

# Optional cache
.cache/
