
.HomeProcess{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    background-size: 100% 100%;
    transition: .3s;
    background-image: var(--bgImage);
    background-position: 90deg;
    position: absolute;
    top: 0;
    left: 0;
}

.HomeProcess .bottomBarC{
    position: absolute;
    bottom: 4vh;
    width: 100%;
    display: flex;
}

.HomeProcess .widgetsSpace{
    position: absolute;
    right: 2vh;
    width: fit-content;
    height: 80dvh;
    top: 10dvh;
    padding: 1vh;
}

.HomeProcess .appsBar{
    width: fit-content;
    margin: auto;
    padding: 1vh 0;
    border-radius: 2vh;
    background-color: #D2EAFB40;
    backdrop-filter: blur(.5vh);
    display: flex;
    overflow: hidden;
}

.HomeProcess .appsBar .AppIcon{
    margin: auto 1.5vh;
}

.HomeProcess .appsBar .AppIcon:nth-child(2){
    animation-delay: .1s;
}

.HomeProcess .appsBar .AppIcon:nth-child(3){
    animation-delay: .15s;
}

.HomeProcess .appsBar .AppIcon:nth-child(3){
    animation-delay: .2s;
}

.HomeProcess .appsBar .AppIcon:nth-child(4){
    animation-delay: .25s;
}

.HomeProcess .appsBar .AppIcon:nth-child(5){
    animation-delay: .3s;
}

.HomeProcess .appsBar .AppIcon:nth-child(6){
    animation-delay: .35s;
}

.HomeProcess .appsBar .AppIcon:nth-child(7){
    animation-delay: .4s;
}

.HomeProcess .appsBar .AppIcon:nth-child(8){
    animation-delay: .45s;
}


.HomeProcess .appsBar .AppIcon:nth-child(9){
    animation-delay: .55s;
}


.HomeProcess .appsBar .AppIcon:nth-child(10){
    animation-delay: .60s;
}


.HomeProcess .appsBar .AppIcon:nth-child(11){
    animation-delay: .65s;
}


.HomeProcess .appsBar .AppIcon:nth-child(12){
    animation-delay: .70s;
}

.HomeProcess .HomeSearch{
    position: absolute;
    left: 32.5%;
}