@import '../containers/UserApp.css';

.LabelValue{
    display: flex;
    padding: 1vh;
    width: 100%;
    font-size: clamp(2.2px,2.5vh,25px);
}

.LabelValue .lab{
    width: 50%;
    margin-right: 1vh;
    color: var(--descriptionText);
}

.LabelValue .val{
    font-weight: 500;
    width: 50%;
    color: var(--mainText);
}