
.FormNewBussines{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    padding-top: 6vh;
}

.FormNewBussines .BoldTitle{
    margin: 1vh auto;
}

.FormNewBussines .userPhoto{ 
    margin: 1vh auto;
    height: 25vh;
    width: 100%;
    padding: 1vh;
    cursor: pointer;
}

.FormNewBussines .actualPhoto{
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    overflow: hidden;
    background-color: var(--inputsBg);
    outline: dashed .2vh var(--inputsBorder);
}

.FormNewBussines .FormButton{
    margin-top: 2vh;
}


.FormNewBussines .actualPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FormNewBussines .userPhoto .FileInput{
    display: none;
}

.FormNewBussines .userPhoto:hover .actualPhoto{
    display: none;
}


.FormNewBussines .userPhoto:hover .FileInput{
    display: block;
}

.FormNewBussines form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}