
.FormNewProduct{
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 2vh;
    padding-top: 4vh;
}

.FormNewProduct .BoldTitle{
    margin: auto;
    margin-bottom: 2vh;
}

.FormNewProduct form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    gap:2vh;
}

.FormNewProduct form section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.FormNewProduct form .FormButton{
    margin-top: 2vh;
}

.FormNewProduct .userPhoto{ 
    margin: 1vh auto;
    height: 20vh;
    width: 70%;
    padding: 1vh;
    cursor: pointer;
}

.FormNewProduct .actualPhoto{
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    padding: 1vh;
    overflow: hidden;
    background-color: var(--inputsBg);
    outline: dashed .2vh var(--inputsBorder);
}

.FormNewProduct .actualPhoto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.FormNewProduct .userPhoto .FileInput{
    display: none;
}

.FormNewProduct .userPhoto:hover .actualPhoto{
    display: none;
}


.FormNewProduct .userPhoto:hover .FileInput{
    display: block;
}


.FormNewProduct .accessSwitch{
    display: flex;
    width: 100%;
    margin: 2vh auto;
}

.FormNewProduct .accessSwitch h6{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 400;
    color: var(--descriptionText);
}

.FormNewProduct .accessSwitch .SwitchOption{
    margin: auto;
    margin-right: 2vh;
}
