
.Analytics {
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.Analytics .ContainerAnalitycs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;
    margin: 2vh;
    width: 183vh;
    height: 50vh;
}

.Analytics .ContainerAnalitycs .Graph{
    width: 140vh;
    margin: .5vh;
    align-content: center;
    box-shadow: 0 .4vh 2vh #0002;
}

.Analytics .ContainerAnalitycs .Search{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: .5vh;
    width: auto;
    align-content: center;
}



.Analytics .Ranking{
    margin: 2vh;
    width: 183vh;
    height: 26vh;
}

.Analytics .gridOptionsDocuments{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vh;
    width: auto;
}