@import './UserApp.css';

.LoadingSpace{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--translucidMenu);
    padding: 1vh;
    border-radius: 2vh;
    backdrop-filter: blur(1vh   );
}

.LoadingSpace .loadingIcon{
    margin: auto;
    font-size: clamp(4px,4vh,40px);
    margin-bottom: 1vh;
    background: linear-gradient(90deg, #C27AFF, #21BCFF, #36BBA7); /* Degradado */
    -webkit-background-clip: text;  /* Para que el degradado se recorte al texto */
    -webkit-text-fill-color: transparent; /* Hace transparente el relleno del texto */
    background-clip: text; /* Soporte en algunos navegadores modernos */
    color: transparent; /* Fallback */
    animation-name: rotateLoader;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.LoadingSpace strong{
    margin: 1vh auto;
    margin-top: 3vh;
    font-size: clamp(3px,3vh,30px);
    font-weight: 500;
    background: linear-gradient(45deg, var(--mainText) 20%, var(--descriptionText) 20%, #fff 10%, #555 5%, var(--sectionTitle)); /* Degradado */
    background-size:400% 100%;
    -webkit-background-clip: text;  /* Para que el degradado se recorte al texto */
    -webkit-text-fill-color: transparent; /* Hace transparente el relleno del texto */
    background-clip: text; /* Soporte en algunos navegadores modernos */
    color: transparent; 
    animation-name: movementColorTitle;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.LoadingSpace span{
    margin: auto;
    margin-top: .5vh;
    font-size: clamp(2.2px,2.2vh,22px);
    color: var(--descriptionText);
}

@keyframes rotateLoader {
    0%{
        transform:rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes movementColorTitle {
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: 400% 0;
    }
}