.PathLocation{
    display: flex;
    padding: .5vh;
    width: fit-content;
    border-radius: 1vh;
}

.PathLocation span{
    padding: .5vh;
    margin: 0 .5vh;
    cursor: pointer;
    font-size: clamp(2px,2.5vh,20px);
    transition: .3s;
    display: flex;
}

.PathLocation i{
    margin: auto .5vh;
}

.PathLocation span:hover{
    color: #3C83F7;
    text-decoration: underline;
    text-underline-offset: .5vh;
}