
.FormNewConcept{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: #fff;
    outline: solid .1vh #ddd;
    box-shadow: 0 .2vh 2vh #0003;
    padding: 3vh;
    border-radius: 2vh;
}

.FormNewConcept .BoldTitle{
    margin:1vh auto; 
}

.FormNewConcept form{
    display: flex;
    flex-direction: column;
    padding: 0 1vh;
}

.FormNewConcept form .SearchinList{
    margin-bottom: .5vh;
}

.FormNewConcept form .FormButton{
    margin: 1vh auto;
}

.FormNewConcept .selectedTaxesC{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    margin-top: 1vh;
}

.FormNewConcept .selectedTaxesC h5{
    margin-bottom: 1vh;
    font-size: clamp(2.5px,2.5vh,25px);
    font-weight: 400;
    color: #7B7B7B;
}

.FormNewConcept .selectedTaxesC .excepMess{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 500;
    color: #444;
}

.FormNewConcept .selectedTaxesC .CardTitleLogo{
    padding: 1vh 2vh;
    width: 100%;
    margin: .5vh auto;
}

.FormNewConcept .selectedTaxesC .CardTitleLogo i{
    font-size: clamp(2.2px,2.2vh,22px);
}

.FormNewConcept .selectedTaxesC .CardTitleLogo h4{
    font-size: clamp(2.2px,2.2vh,22px);
}