
.GeneralInfo{
    display: flex;
    flex-direction: column;
}

.GeneralInfo form{
    margin: 3vh 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.GeneralInfo form .FacturationFormInput, .GeneralInfo form .SelOp, .GeneralInfo form .FormButton{
    width: 20vw;
    margin: auto 0;
    margin-right: 4vh;
    margin-top: 4vh;
}


.GeneralInfo form .SelOp{
    display: flex;
    flex-direction: column;
}

.GeneralInfo form .SelOp h6{
    margin-bottom: 1vh;
    font-size: clamp(2.2px,2.5vh,25px);
    font-weight: 500;
    color: var(--descriptionText);
}

.GeneralInfo form .SelOp .contentOptions{
    box-shadow: none;
}

.GeneralInfo form .FormButton{
    margin: auto 0;
    margin-bottom: 0;
    background-color: #007AFF;
}

.GeneralInfo .aditionalInfo{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.GeneralInfo .aditionalInfo .aditionalDataGrid{
    display: flex;
    width: 100%;
    margin: 4vh 0;
    margin-top: 2vh;
}

.GeneralInfo .aditionalInfo .aditionalDataGrid .LabelValue{
    flex-direction: column;
    margin: auto 0;
    margin-right: 4vh;
    width: fit-content;
    padding: 0;
}

.GeneralInfo .aditionalInfo .aditionalDataGrid .LabelValue .lab, .GeneralInfo .aditionalInfo .aditionalDataGrid .LabelValue .val{
    width:  100%;
    margin-top: .5vh;
}