
.AlertsSettings{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 2vh;
}

.AlertsSettings .gridTypesNotifications{
    display: flex;
    padding: 2vh;
    background-color: var(--menuAside);
    gap: 4vw;
    border-radius: 2vh;
}

.AlertsSettings .gridTypesNotifications .typeNoti{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 1vh;
}

.AlertsSettings .gridTypesNotifications .typeNoti strong{
    margin: auto;
    font-weight: 500;
    color: var(--descriptionText);
    transition: .3s;
}

.AlertsSettings .gridTypesNotifications .typeNoti .imgC{
    height: 12vh;
    width: 16vh;
    border: solid .3vh var(--inputsBorder);
    border-radius: 2vh;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.AlertsSettings .gridTypesNotifications .typeNoti .imgC .sideBar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    background-color: var(--inputsBorder);
    transition: .3s;
    border-radius: .5vh;
}

.AlertsSettings .gridTypesNotifications .typeNoti .imgC i{
    position: absolute;
    top: 2vh;
    right: 2vh;
    font-size: clamp(3px,3vh,30px);
    color: var(--descriptionText);
}

.AlertsSettings .gridTypesNotifications .activeSec .imgC{
    border: solid .3vh #007AFF;
    background-color: var(--iconHover);
}

.AlertsSettings .gridTypesNotifications .activeSec .imgC .sideBar{
    background-color: #007AFF;
}

.AlertsSettings .gridTypesNotifications .activeSec .imgC i{
    color: #007AFF;
}

.AlertsSettings .gridTypesNotifications .activeSec strong{
    color: #007AFF;
}