
.TaxInfo{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.TaxInfo .paramsContainer{
    margin: 1vh 0;
    display: flex;
    width: 100%;
}

.TaxInfo .paramsContainer form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.TaxInfo .paramsContainer form .FacturationFormInput,
.TaxInfo .paramsContainer form .FacturationSearchinList,
.TaxInfo .paramsContainer form .optionsRow .FormButton{
    width: 20vw;
    margin: auto 0;
    margin-right: 4vh;
    margin-top: 4vh;
}

.TaxInfo .optionsRow{
    display: flex;
    gap: 2vh;
    margin: 2vh 0;
    margin-top: 5vh;
    width: 100%;
}

.TaxInfo form .optionsRow .FormButton:nth-child(2){
    background-color: #007AFF;
}
