

.GerenceApp{
    width: 100%;
    height: 100%;
}

.GerenceApp header{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 .2vh 1vh #00000020;
    border-radius: 2vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10;
}

.GerenceApp header .headPage{
    display: flex;
    width: 100%;
    padding: 1vh;
}

.GerenceApp header .headPage .UserCard{
    padding: 0 1vh;
}

.GerenceApp .headComplement{
    position: absolute;
    height: 80vh;
    width: 30%;
    background-color: #fff;
    right: 0;
    top: 7vh;
    z-index: 8;
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0 .2vh 1vh #00000010;
}


.GerenceApp .openHeadComplemet{
    animation-name: openHeadComplement;
    animation-duration: .7s;
    animation-fill-mode: both;
}

.GerenceApp .closedHeadComplemet{
    animation-name: closedHeadComplement;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.GerenceApp header .headPage .SearchBar{
    margin: auto 2vh;
    width: 45vw;
}

.GerenceApp header .headPage h3{
    font-size: clamp(15px,3vh,25px);
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    margin: auto 4vh;
    color: #565252;
    width: 20vw;
}

.GerenceApp header .headPageOptions{
    display: flex;
    height: 100%;
    padding: 1vh;
}

.GerenceApp header .headPageOptions i{
    font-size: clamp(15px,2.5vh,25px);
    color: #79747E;
    margin: auto 2vh;
    cursor: pointer;
    transition: .3s;
}

.GerenceApp header .headPageOptions .activeOptionMenu{
    font-size: clamp(15px,3vh,25px);
    color: #FB2A0C;
    animation-name: activeMenuOption;
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes activeMenuOption {
    20%{transform: rotateZ(-10deg);}
    40%{transform: rotateZ(10deg);}
    60%{transform: rotateZ(-10deg);}
    80%{transform: rotateZ(10deg);}
    10%{transform: rotateZ(0);}
}

.GerenceApp header .headPageOptions i:hover{
    transform: rotateZ(-15deg) scale(1.1);
}

.GerenceApp aside{
    position: fixed;
    height: 95vh;
    bottom: 0;
    background-color: #fff;
    box-shadow: .2vh 0 1vh #00000020;
    border-radius: 1vh;
    padding: .5vh 1vh;
    display: flex;
    flex-direction: column;
    z-index: 9;
    padding-top: 4vh;
}

.GerenceApp .colapsedMenu{
    width: 4%;
}

.GerenceApp .colapsedMenu li i{
    margin: auto;
}

.GerenceApp .colapsedMenu li span{
    margin: 0 0 !important;
}

.GerenceApp .logoContainer{
    width: 100%;
    height: 7vh;
    cursor: pointer;
    margin-bottom: 2vh;
    display: flex;
}

.GerenceApp .logoContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.GerenceApp .logoContainer .infoLogo{
    margin: auto 0;
    margin-right: 2vh;
    display: flex;
    flex-direction: column;
}

.GerenceApp .logoContainer .infoLogo strong{
    font-size: clamp(1px,2.5vh,20px);
    font-weight: 700;
    color: #FB2A0C;
}

.GerenceApp .logoContainer .infoLogo span{
    font-size: clamp(1px,2vh,20px);
    color: #747474;
    font-weight: 500;
}

main{
    position: relative;
    top: 7.5%;
    left: 4.2%;
    width: 95.5dvw;
    padding: 1vh;
}


main .appSection{
    width: 100%;
    height: 100%;
}


@keyframes openHeadComplement {
    0%{
        top:-81vh;
    }
    100%{
        top: 7vh;
    }
}

@keyframes closedHeadComplement {
    0%{
        top:7vh;
    }
    100%{
        top:-81vh;
    }
}