
.AnalyticDocDetail{
    padding: 2vh;
    position: relative;
    height: 100%;
}

.AnalyticDocDetail .HeaderAnalytics{
    margin: 1vh .2vh;

}

.AnalyticDocDetail .AiButton{
    position: absolute;
    top: 2vh;
    right: 4vh;
}

.AnalyticDocDetail .Graph{
    margin: .5vh;
    align-content: center;
    padding: 2vh 1vh;
    background-image: linear-gradient(45deg, var(--lightGradient1), var(--lightGradient3), var(--lightGradient4));
    border-radius: 2vh;
    outline: solid .1vh var(--inputsBorder);
}

.AnalyticDocDetail .Search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vh;
    margin: 2vh;
    border-radius: 2vh;
    padding: 2vh 1vh;
    background-image: linear-gradient(45deg, var(--lightGradient1), var(--lightGradient3), var(--lightGradient4));
    outline: solid .1vh var(--inputsBorder);
}


.AnalyticDocDetail .ContainerAnalitycs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AnalyticDocDetail .ContainerData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    margin: 2vh;
    width: 100vh;
}

.AnalyticDocDetail .ContainerData .TableValues{
   
    width: 100vh;
    padding: 2vh 1vh;
    background-image: linear-gradient(45deg, var(--lightGradient1), var(--lightGradient3), var(--lightGradient4));
    border-radius: 2vh;
    outline: solid .1vh var(--inputsBorder);
}

.AnalyticDocDetail .ContainerData .TableValues .AnalyticDocDetailTable table{
    width: 100%;
}

.AnalyticDocDetail .Ranking{
    width: 40vh;
    margin: 2vh;
    border-radius: 2vh;
    padding: 2vh 1vh;
    background-image: linear-gradient(45deg, var(--lightGradient1), var(--lightGradient3), var(--lightGradient4));
    outline: solid .1vh var(--inputsBorder);
}

.AnalyticDocDetail .gridOptionsDocuments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2vh;
}

.AnalyticDocDetail .CardRankingAnalytics{
    width: 18vw;
    height: 13vh;
    background-image: none;
    box-shadow: none;
    outline: none;
}

.AnalyticDocDetail .BoldTitle{
    font-size: 2.4vh;
    margin-top: 2vh;
}

.AnalyticDocDetail .FormInput{
    min-width: none;
}

.AnalyticDocDetail .FormInput label{
    margin: 0;
}

.AnalyticDocDetail .FormInput .inputContainer{
    margin-top: .5vh;
}
    

.AnalyticDocDetail .Search .SearchElements{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.AnalyticDocDetail .Search .FormButton{
    margin-top: 2vh;
}