
.Reports{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    position: relative;
}

.Reports .headSection{
    margin-left: 2vh;
    margin-bottom: 2vh;
}

.Reports .spaceSelectReports{
    display: flex;
    padding: 1vh;
    position: absolute;
    top: 12vh;
    z-index: 10;
}

.Reports .spaceSelectReports .DespleList{
    margin-right: 2vh;
}

.Reports .galleryReports{
    
    margin-top: 10vh;
    height: 68vh;
    padding: 2vh;
    display: flex;
    gap: 0vh 4vh;
    flex-wrap: wrap;
}

