
.StoreDetail{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    padding-left: 4vh;
}

.StoreDetail .BoldTitle{
    margin: 1vh;
}

.StoreDetail .DescriptionSpan{
    margin-left: 1vh;
    margin-bottom: 3vh;
}

.StoreDetail .CarrouselOptions{
    width: 100%;
    display: flex;
    margin: 2vh 0;
    position: relative;
}

.StoreDetail .CarrouselOptions h4{
    width: 14vw;
    text-align: center;
    padding: 1vh 0;
    cursor: pointer;
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 500;
    color: var(--descriptionText);
    transition: .3s;
}

.StoreDetail .CarrouselOptions .activeSec{
    color: #007AFF;
}

.StoreDetail .CarrouselOptions .CarrouselIndicator{
    position: absolute;
    bottom: 0;
    width: 14vw;
    height: .15vh;
    background-color: #51A2FF;
    border: .5vh;
    transition: .3s;
}

.StoreDetail .contentStoreDetail{
    display: flex;
    width: 100%;
    height: 60vh;
    overflow-y: auto;
}