
.CardMyBussines {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 2vh;
    width: 40vh;
    height: 60vh;
}

.CardMyBussines .imageCardMyBussines{
    width: 36vh;
    height: 40vh;
    object-fit: cover;
}

.CardMyBussines .imageCardMyBussines img{
    width: -webkit-fill-available;
    object-fit: cover;
}

.CardMyBussines .infoCardMyBussines{
    width: 36vh;
    height: 20vh;
    text-align: center;
}

.CardMyBussines .infoCardMyBussines .BoldTitle{
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 1vh;
}

.CardMyBussines .infoCardMyBussines .DescriptionSpan{
    font-size: 2vh;
    font-weight: 700;
    margin-bottom: 1vh;
}

.CardMyBussines .buttonCardMyBussines{
    padding: 2vh;
}

.CardMyBussines .buttonCardMyBussines .FormButton{
    background-color: #0071E3;
    border-radius: 3vh;
}

.CardMyBussines .buttonCardMyBussines .FormButton:focus{
    color: #ffffff;
}

.CardMyBussines .linkCardMyBussines{
    padding: 0 2vh;
}

.CardMyBussines .linkCardMyBussines .FormButton{
    background-color: #ffffff;
    color: #0071E3;
    border-radius: 3vh;
    box-shadow: none;
}
.CardMyBussines .linkCardMyBussines .FormButton:focus{
    outline: none;
}