
@import '../containers/UserApp.css';

.CheckSquare{
    display: flex;
    padding: 1vh;
}

.CheckSquare .square{
    height: 2.5vh;
    width: 2.5vh;
    border-radius: .5vh;
    margin: auto 0;
    cursor: pointer;
    margin-right: .7vh;
    outline: solid .1vh #aaa;
    display: flex;
    transition: .3s;
}


.normalSquare{
    background-color: var(--inputsBg) ;
    color: #aaa;
    outline: solid .1vh var(--inputBorder);
}

.CheckSquare i{
    margin: auto;
    font-size: clamp(2px,2vh,22px);
}

.activeSquare{
    background-color: #007AFF ;
    color: #fff;
    outline: none !important ;
}

.CheckSquare span{
    margin: auto 0;
    font-size: clamp(2px,2.2vh,22px);
    color: #333;
}