
.InputFiles{
    display: flex;
    flex-direction: column;
}

.InputFiles label{
    margin-bottom: 1.5vh;
    font-size: clamp(2px,2.5vh,25px);
    font-weight: 500;
}

.InputFiles .spaceInput{
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 30vh;
    background-color: #fff;
    box-shadow: 0 0 2vh #2223;
    outline: solid .1vh #ddd;
    border-radius: .5vh;
    cursor: pointer;
}

.InputFiles .spaceInput:hover{
    background-color: #EFF6FF;
}

.InputFiles .spaceInput:hover > i{
    color: #1E1A4D;
}

.InputFiles .spaceInput:hover > span{
    color: #1E1A4D;
}

.InputFiles .spaceInput i{
    margin: auto;
    margin-bottom: 1vh;
    font-size: 4vh;
    color: #888;
}

.InputFiles .spaceInput span{
    margin: auto;
    margin-top: .5vh;
    font-size: clamp(2px,2.2vh,25px);
    color: #666;
}