
.HomeSearch{
    height: 60vh;
    width: 35%;
    background-color: #D2EAFB90;
    background-color: var(--translucidMenu);
    backdrop-filter: blur(1vh);
    border-radius: 2vh;
    padding: 2vh;
    animation-name:appearSearcHome;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    display: flex;
    flex-direction: column;
}

.HomeSearch .SearchBar input{
    background-color: #ffffff !important;
    outline: #ddd !important;
    color: #838383 !important ;
    border-radius: 3vh;
}

.HomeSearch .resultsContainer{
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vh 0;
    overflow: hidden;
}

.HomeSearch .resultsContainer .AppIcon{
    margin: 1vh auto;
}

@keyframes appearSearcHome {
    0%{
        opacity: 10%;
        bottom: 2vh;
        transform: scale(0.4);
    }

    100%{
        opacity: 100%;
        bottom: 15vh;
        transform: scale(1.0);
    }
}