
.MyBussinesUnits {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 2vh;
    align-content: center;
}


.MyBussinesUnits .headMyBussinesUnits {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0 2vh;
}

.MyBussinesUnits .headMyBussinesUnits .DescriptionSpan{
    margin: 0;
}

.MyBussinesUnits .bodyMyBussinesUnits {
    height: 73vh;
    display: flex;
    flex-direction: row;
    gap: 2vh;
}  

.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 71vh;
    padding: 2vh;
}

.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer .FilterUnits{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}
.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer .FilterUnits .SearchBar{
    width: 32vh;
}
.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer .FilterUnits .SelectOptions{
    width: 16vh;
}
.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer .FilterUnits .SelectOptions .contentOptions{
    box-shadow: none;
}
.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer .FilterUnits .FormButton{
    width: 18vh;
    box-shadow: none;
}

.MyBussinesUnits .bodyMyBussinesUnits .StoresContainer .GaleryUnists{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    width: 69vh;
}

.MyBussinesUnits .bodyMyBussinesUnits .maps{
    display: flex;
    flex-direction: row;
    width: 55vw;
    padding: 2vh;
    height: 70vh;
    gap: 2vh;

}

.MyBussinesUnits .bodyMyBussinesUnits .maps .map{
    height: 100%;    
    border-radius: 2vh;
    width: 50vw;
    overflow: hidden;
    background-color: var(--cardHover);
    transition: .3s;
}

.MyBussinesUnits .bodyMyBussinesUnits .maps .map iframe{
    width: 100%;
    height: 100%;
}


.MyBussinesUnits .bodyMyBussinesUnits .maps .mapMenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 4.5vw;
    background-color: var(--cardHover);
    border-radius: 2.5vw;
    transition: .3s;
    padding: 1vh;
}

.MyBussinesUnits .bodyMyBussinesUnits .maps .mapMenu .ButtonMenu{
    margin: 1vh auto;
    background-color: var(--inputsBg);
}