
.Users{
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.Users .menuUsers{
    display: flex;
    margin-top: 2vh;
}

.Users .menuUsers .resultsTotal{
    font-size: clamp(2.5px,3vh,30px);
    margin: auto 0;
    color: var(--mainText);
    font-weight: 400;
}

.Users .menuUsers .resultsTotal .nRes{
    margin-left: 1vh;
    color: var(--descriptionText);
}

.Users .menuUsers .optionsMenuUsers{
    display: flex;
    margin: auto;
    margin-right: 2vh;
}

.Users .menuUsers .optionsMenuUsers .SearchBar{
    width: 20vw;
    margin: auto 2vh;
}

.Users .menuUsers .optionsMenuUsers .SelectOptions{
    margin: auto 1vh;
}

.Users .menuUsers .optionsMenuUsers .FormButton{
    margin: auto 1vh;
    padding: 1.5vh 2vh;
}

.Users .tableUsers{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
}

.Users .tableUsers .headTableUsers{
    display: flex;
    width: 100%;
    border-radius: .5vh;
    background-color: var(--menuAside);
    outline: solid .1vh var(--inputsBorder);
    padding: 1vh;
    height: 6vh;
    transition: .3s;
}

.Users .tableUsers .headTableUsers .headTableTitle{
    margin: auto 1vh;
    color: var(--mainText);
    font-size: clamp(2px,2vh,20px);
    width: 10vw;
    padding: 0 1vh;
}

.Users .tableUsers .headTableUsers .headTableTitle i{
    margin: auto 0;
    margin-left: .5vh;
    cursor: pointer;
    font-size: 1.8vh;
}

.Users .tableUsers .headTableUsers .headTableTitle i:hover{
    color: #0071E3;
}

.Users .tableUsers .headTableUsers .userCardContainer{
    width: 15vw !important;
}

.Users .tableUsers .headTableUsers .idContianer{
    width: 5vw;
}

.Users .tableUsers .bodyTableUsers{
    height: 62vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}