
.BillingSettings{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 2vh;
}

.BillingSettings .mainBillingMethod{
    width: 100%;
    background-color: var(--menuAside);
    border-radius: 2vh;
    cursor: pointer;
    display: flex;
}

.BillingSettings .mainBillingMethod .infoMainBllM{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto 1vh;
}

.BillingSettings .mainBillingMethod .infoMainBllM strong{
    font-size: clamp(3px,3vh,30px);
    font-weight: 600;
    color: var(--sectionTitle);
}

.BillingSettings .mainBillingMethod .infoMainBllM span{
    font-size: clamp(2px,2vh,20px);
    font-weight: 500;
    margin: 1vh 0;
    color: var(--descriptionText);
}

.BillingSettings .mainBillingMethod img{
    height: 12vh;
}

.BillingSettings .CreditBalance{
    width: 100%;
    background-color: var(--menuAside);
    border-radius: 2vh;
    cursor: pointer;
    display: flex;
    padding: 2vh 1vh;
}

.BillingSettings .CreditBalance h3{
    margin: auto;
    margin-right: 4vh;
    font-size: clamp(4px,4vh,40px);
    color: var(--mainText);
    font-weight: 600;
}

.BillingSettings .CreditBalance .infoC{
    margin: auto 1vh;
}

.BillingSettings .CreditBalance .BoldTitle{
    margin-bottom: .2     5vh;
    font-size: clamp(3px,3.5vh,35px);
}

.BillingSettings .UserContainer .UserCard img{
    margin-right: 2vh;
}