
.CardTitleLogo{
    padding: 2vh;
    border-radius: .5vh;
    display: flex;
    transition: .3s;
    font-size: clamp(2.2px,2.5vh,25px);
}

.CardTitleLogo:hover{
    background-color: #EFF6FF;
}

.CardTitleLogo:hover i{
    color: #2B7FFF;
}

.CardTitleLogo i{
    margin: auto;
    margin-right: 2vh;
    cursor: pointer;
    font-size: clamp(2.2px,2.8vh,30px);
    transition: .3s;
}

.CardTitleLogo i:hover{
    transform: scale(1.2);
}

.CardTitleLogo h4{
    font-weight: 400;
}
