
.CardCategory{
    padding: 1vh;
    font-size: clamp(2.2px,2.2vh,22px);
    position: relative;
    width: fit-content;
}

.CardCategory .contentCardCategory{
    display: flex;
}

.CardCategory .treeIndicator{
    height: 1.5vh;
    width: 2vh;
    border-left: solid .3vh #ccc;
    border-bottom: solid .3vh #ccc;
    border-bottom-left-radius: .5vh;
    margin-right: 1vh;
}

.CardCategory .code{
    margin: auto 0;
    margin-right: 1vh;
    font-weight: 600;
    cursor: pointer;
}

.CardCategory .code:hover{
    text-decoration: underline;
    text-underline-offset: .5vh;
    color: #155DFC;
}

.CardCategory .concept{
    color: #333;
    margin: auto 0;
}

.CardCategory .levelIndicator{
    height: 1vh;
    width: 1vh;
    border-radius: 100%;
    position: absolute;
    right: -2vh;
    top: 2vh;
}

.CardCategory .levelIndicator span{
    margin-left: 2vh;
    font-size: clamp(1.8px,1.9vh,20px);
    position: absolute;
    top: -.7vh;
    text-wrap: nowrap;
}

.CardCategory .lev1{
    background-color:#C27AFF;
    color:#C27AFF;
}

.CardCategory .lev2{
    background-color:#7C86FF;
    color: #7C86FF;
}

.CardCategory .lev4{
    background-color: #F54927;
    color: #F54927;
}


.CardCategory .createChidren{
    padding: .7vh;
    border-radius: 100%;
    font-size: 1.7vh;
    margin: auto 2vh;
    cursor: pointer;
    background-color: #DDD6FF;
    display: none;
    color: #333;
}

.CardCategory .contentCardCategory:hover > .createChidren{
    display: inline;
}
