

.CardReport{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 16vw;
    height: 26vh;
    border: .1vh solid var(--inputsBorder);
    border-radius: 4vh;  
    padding: 2vh 3vh;
    box-shadow: 0 1dvh 1.6dvh #00000015;
    background-color: var(--menuAside);
    cursor: pointer;
    position: relative;
}

.CardReport .IconReport{
    position: absolute;
    top: -3vh;
    left: 2.5vh;
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 100%;
    display: flex;
    padding: 1vh;
}

.CardReport .IconReport i{
    margin: auto;
    font-size: clamp(3px,3vh,30px);
    color: #fff;
}

.CardReport .titleReport{
    margin-top: 2vh;
}

.CardReport .titleReport .BoldTitle{
    font-size: 2.5vh
}

.CardReport .descripctionReport .DescriptionSpan{
    font-size: 1.5vh;
}

.CardReport .actionReport{
    display: flex;
    width: 100%;
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: solid .1vh var(--inputsBorder);
}

.CardReport .actionReport button{
    background-color: transparent;
    width: 5vh;
    height: 5vh;
    border: solid var(--inputsBorder) 0.2vh;
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh;
    border-radius: 3vh;
    color: var(--descriptionText);
    margin: auto;
}

.CardReport .actionReport button:hover{
    background-color: var(--iconHover);
    color: var(--mainText);
}

@media (max-width:500px) {
    .CardReport{
        width: 70vw;
    }
}