
.Bussines{
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.Bussines .headSection{
    display: flex;
    flex-direction: column;
    gap: .5vh 0;    
    padding-left: 2vh;
}

.Bussines .searchOptions{
    display: flex;
    width: 100%;
    gap: 2vh;
    margin: 2vh 0;
    margin-top: 4vh;
}

.Bussines .searchOptions .FormButton{
    width: fit-content;
}

.Bussines .searchOptions .ButtonMenu{
    background-color:#DFF2FE;
    margin: auto 1vh;
    height: 6vh;
    width: 6vh;
}

.Bussines .searchOptions .ButtonMenu i{
    color: #007AFF;
}

.Bussines .gridBussines{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    overflow-y: auto;
    padding: .1vh;
    height: 60vh;
    overflow-y: auto;
}

.Bussines .NoResults{
    height: 50vh;
}