
.CreateDocument{
    display: flex;
    flex-direction: column;
}

.CreateDocument .headCreateDoc{
    display: flex;
    flex-direction: column;
    padding: 1vh 3vh;
    margin-top: 2vh;
}

.CreateDocument .headCreateDoc .BoldTitle{
    margin-bottom: 1vh;
}

.CreateDocument .bodyNewDoc{
    display: flex;
    width: 100%;
}

.CreateDocument .gridOptionsDocuments{
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 1vh;
    margin-left: 2vh;
    width: 65%;
    overflow: hidden;
    height: 60vh;
}

.CreateDocument .gridOptionsDocuments .CardNewDocument{
    position: relative;
    margin-top: 3vh ;
    margin-right: 3vh;
}

.CreateDocument .gridOptionsDocuments .CardNewDocument:nth-child(2){
    animation-delay: .2s;
}

.CreateDocument .gridOptionsDocuments .CardNewDocument:nth-child(3){
    animation-delay: .3s;
}

.CreateDocument .gridOptionsDocuments .CardNewDocument:nth-child(4){
    animation-delay: .4s;
}

.CreateDocument .gridOptionsDocuments .CardNewDocument:nth-child(5){
    animation-delay: .5s;
}

.CreateDocument .lastOpContainer{
    position: relative;
    margin: 0 auto;
    display: flex;
}

.CreateDocument .lastOpContainer h5{
    position: absolute;
    top: -5vh;
    font-weight: 400;
    font-size: clamp(2.5px,2.5vh,25px);
    color: #838383;
}

.CreateDocument .OpCard{
    margin: auto;
}