
.ElectronicDocuments{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    position: relative;
}

.ElectronicDocuments .headReport{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 3vh;
}

.ElectronicDocuments .totalsBalanceC{
    position: absolute;
    display: flex;
    gap: 2vh;
    top: 2vh;
    right: 5vw;
}

.ElectronicDocuments .totalsBalanceC .LabelValue{
    display: flex;
    flex-direction: column;
    max-width: 12vw;
}

.ElectronicDocuments .totalsBalanceC .LabelValue .lab ,.ElectronicDocuments .totalsBalanceC .LabelValue .val{
    width: 100% ;
    text-wrap: nowrap;
}

.ElectronicDocuments .totalsBalanceC .LabelValue .val{
    font-weight: 400 !important;
    margin-top: 1vh;
    text-align: right;
}
.ElectronicDocuments .settingsReport{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.ElectronicDocuments .settingsReport .SearchBar{
    width: fit-content;
}

.ElectronicDocuments .settingsReport .SearchBar input{
    width: 15vw;
    transition: .3s;
}

.ElectronicDocuments .settingsReport .SearchBar input:focus{
    width: 25vw;
    outline: solid .2vh #2B7FFF;
}

.ElectronicDocuments .settingsReport .rangeInput{
    display: flex;
    gap: 1vw;
}

.ElectronicDocuments .settingsReport .rangeInput .FacturationFormInput{
    width: fit-content;
    min-width: 0;
}

.ElectronicDocuments .settingsReport .rangeInput .FacturationFormInput label{
    display: none;
}

.ElectronicDocuments .settingsReport .ButtonDownload{
    width: fit-content;
    height: 100%;
}

.ElectronicDocuments .settingsReport .ButtonDownload .downloadMenu{
    bottom: -180%;
}

.ElectronicDocuments .contentSection{
    width: 100%;
    height: 69vh;
    overflow-y: hidden;
    padding: 2vh 0;
    padding-right: 4vw;
}

.ElectronicDocuments .documentResults{
    height: 100%;
    width: 100%;
    padding: 1vh .2vh;
    overflow-y: auto;
}

.ElectronicDocuments .documentResults .ElectronicDocumentCard:hover{
    margin-left: 1vh;
}