

.DocsSimpleCard{
    display: flex;
    flex-direction: column;
    padding: 1vh 1.5vh;
    background-color: #fff;
    outline: solid .1vh #eaeaea;
    border-radius: 1vh;
    width: 15vh;
    height: fit-content;
    cursor: pointer;
}

.DocsSimpleCard:hover{
    box-shadow:  0 .2vh 1vh #3333;
}

.DocsSimpleCard h4{
    font-size: clamp(2.2px,2.1vh,22px);
    margin: .2vh auto;
}

.DocsSimpleCard strong{
    font-size: clamp(2.2px,2vh,22px);
    font-weight: 600;
    white-space: nowrap;        /* No saltar de línea */
    overflow: hidden;           /* Ocultar el exceso */
    text-overflow: ellipsis;    /* Mostrar "..." */
    display: inline-block;      /* Necesario para que funcione con width */               
}

.DocsSimpleCard span{
    font-size: clamp(2.2px,1.9vh,22px);
    margin: .5vh auto;
    font-weight: 500;
    color: #777;
}