
@import '../containers/UserApp.css';

.InputBarChat{
    display: flex;
    width: 100%;
    border-radius: 4vh;
    outline: solid .1vh var(--inputsBorder);
    background-color: var(--inputsBg);
}

.InputBarChat input{
    width: 80%;
    margin: auto;
    height: 7vh;
    border: hidden;
    background-color: var(--inputsBg);
    outline: none;
    border-radius: 4vh;
    padding: 0 1vh;
    padding-left: 4vh;
}

.InputBarChat .ButtonMenu{
    margin: auto 0vh !important;
    margin-right: .5vh !important;
}

.InputBarChat .ButtonMenu:hover{
    background-color: var(--cardHover);
}