
.LabelValue{
    display: flex;
    padding: 1vh;
    width: 100%;
    font-size: clamp(2.2px,2.5vh,25px);
}

.LabelValue span{
    width: 50%;
    margin-right: 1vh;
    color: #555;
}

.LabelValue strong{
    font-weight: 500;
    width: 50%;
}