@import '../containers/UserApp.css';

.OpCard{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg,var(--lightGradient1),var(--lightGradient2),var(--lightGradient3),var(--lightGradient4));
    width: 27vw;
    height: 70vh;
    border-radius: 2vh;
    /*box-shadow: 0 .2vh 2vh #aaa5;*/
    outline: solid .1vh var(--inputsBorder);
    padding: 1vh;
    overflow-y: auto;
}

.OpCard .headOP{
    display: flex;
    padding: 1vh;
}

.OpCard .headOP h3{
    margin: auto 0;
    margin-left: 1vh;
    font-weight: 600;
    width: 40%;
    font-size: clamp(3.5px,3.5vh,35px);
    color: var(--mainText);
}

.OpCard .headOP .SwitchOption{
    width: 57%;
    margin: auto 2vh;
}

.OpCard .headOP .optionsOpButton{
    margin: auto;
    font-size: clamp(3.5px,3.5vh,35px);
    color: #838383;
}

.OpCard .headOP .optionsOpButton:hover{
    color: #353535;
    cursor: pointer;
}

.OpCard .bodyOP{
    display: flex;
    flex-direction: column;
    padding: 0 1vh;
    margin: 1vh auto;
    width: 100%;
}

.OpCard .bodyOP .LabelValue{
    margin: .25vh 0;
}


.OpCard .attachedDocuments{
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.OpCard .attachedDocuments h4{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 500;
    color: var(--descriptionText);
    margin-bottom: 1vh;
}

.OpCard .attachedDocuments .ocsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.OpCard .attachedDocuments .ocsContainer .gridOcs{
    display: flex;
    flex-wrap: wrap;
    margin: 1vh auto;
    margin-bottom: 2vh;
    width: 100%;
    overflow: auto;
    padding: .1vh;
}

.OpCard .attachedDocuments  .newOcCD{
    display: flex;
    font-size: clamp(2px,2.1vh,21px);
    padding: 1vh;
    width: 100%;
    border-radius: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    transition: .1s;
    font-weight: 500;
    color: #708BE6;
}

.OpCard .ocsContainer h4 strong{
    font-weight: 600;
    color: #708BE6;
    cursor: pointer;
}

.OpCard .attachedDocuments  .newOcCD:hover{
    background-color:var(--iconHover);
}

.OpCard .attachedDocuments  .newOcCD i{
    margin: auto 0;
    margin-right: 1vh;
}

.OpCard .attachedDocuments .ocsContainer .gridOcs .OcSimpleCard{
    margin: 0 auto;
    margin-bottom: 1vh;
}

.OpCard .attachedDocuments .gridAttached:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.OpCard .attachedDocuments .gridAttached:nth-child(2) .DocsSimpleCard{
    margin-top: 1.5vh;
    margin-right: 1.5vh;
}