
.SwitchColorMode{
    display: flex;
    padding: 1vh 1vh;
    height: fit-content;
    border-radius: 4vh;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.SwitchColorMode_lightMode{
    background-color: #fff;
    border: solid .1vh #ddd;
    box-shadow: 0 .1vh .5vh #aaa inset;
}

.SwitchColorMode_darkMode{
    background-color: #1F1E26;
    border: solid .2vh #555;
}

.SwitchColorMode .SwitchIcon{
    font-size: 2.8vh;
    margin: auto .6vh;
    color: #fff;
    transition: .3s;
}

.SwitchColorMode_lightMode .SwitchIcon{
    color: #F0B13B;
}

.SwitchColorMode .switchIndicator{
    width: 3.8vh;
    height: 3.8vh;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: .4vh;
    transition: .3s;
    border: solid .1vh #ddd;
    box-shadow: 0 .1vh 1vh #ccc;
}

.SwitchColorMode_lightMode .switchIndicator{
    left: 53%;
}

.SwitchColorMode_darkMode .switchIndicator{
    left: 8%;
    box-shadow: none;
}