
.TaxCard{
    display: flex;
    padding: 1vh;
    border-radius: 1vh;
}

.TaxCard:hover{
    background-color: #f7f7fa;
}

.TaxCard .TagIndicator{
    margin: auto 0;
    margin-left: 2vh;
}

.TaxCard .TagIndicator h5{
    font-size: clamp(1.8px,1.8vh,18px);
}

.TaxCard .TagIndicator:nth-child(1){
    margin-left: 0;
}

.TaxCard strong{
    font-size: clamp(2.2px,2.2vh,22px);
    margin: auto 2vh;
    font-weight: 400;
    color: #555;
    max-width: 50%;
}

.TaxCard .MoreOptions{
    margin: auto;
    margin-right: 2vh;
}