.QuickActions{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
}

.QuickActions .searchContent{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.QuickActions .searchContent .BoldTitle,
.QuickActions .searchContent .DescriptionSpan{
    margin: 0 auto;
}

.QuickActions .searchContent input{
    margin: 1vh auto;
    margin-top:3vh;
    width: 40vw;
    padding: 2vh;
    padding-left: 4vh;
    font-size: clamp(3px,2.5vh,30px);
    border: hidden;
    outline: solid .1vh var(--inputsBorder);
    border-radius: 4vh;
    background-color: var(--inputsBg);
    color: var(--descriptionText);
}

.QuickActions .searchContent form{
    margin: 0 auto;
    position: relative;
}

.QuickActions .searchContent form .searchIcon{
    position: absolute;
    top: 48%;
    right: 3vh;
    font-size: clamp(2.5px,2.5vh,25px);
    color: var(--descriptionText);
    cursor: pointer;
}

.QuickActions .searchContent input:focus{
    outline: solid .3vh #155DFC;
    color: var(--mainText);
}

.QuickActions .img1C{
    position: absolute;
    height:auto;
    right: -4vw;
    top: 5vh;
    width: fit-content;
}

.QuickActions .img1C img{
    object-fit: contain;
    height:60vh;
    width:auto;
    transform: rotateZ(-35deg);
}

.QuickActions .img2C{
    position: absolute;
    height:auto;
    left: 0vw;
    bottom: -1vh;
    width: fit-content;
}

.QuickActions .img2C img{
    object-fit: contain;
    height:60vh;
    width: auto;
}

@media (max-width:500px) {
    .QuickActions .img2C img{
        height: 35vh;
    }

    .QuickActions .searchContent .DescriptionSpan{
        text-align: center;
        max-width: 80%;
    }

    .QuickActions .img1C{
        top: 2vh;
        right: -6vh;
    }

    .QuickActions .img1C img{
        object-fit: contain;
        height:40vh;
        width:auto;
        transform: rotateZ(-45deg);
    }

    .QuickActions .searchContent input{
        width: 80vw;
    }

}