
.Reports{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    position: relative;
    gap: 2vh;
}

.Reports .filterSettings{
    display: flex;
    padding: 0 2vh;
    gap: 2vh;
}

.Reports .filterSettings .SearchBar{
    width: fit-content;
}

.Reports .filterSettings .SearchBar input{
    width: 20vw;
    transition: .3s;
}

.Reports .filterSettings .SearchBar input:focus{
    width: 30vw;
}

.Reports .galleryReports{
    height: 68vh;
    padding: 2vh;
    display: flex;
    gap: 4vh;
    flex-wrap: wrap;   
}

@media (max-width:500px) {

    .Reports .headSection{
        margin-bottom: 0;
    }

    .Reports .galleryReports{
        display: flex;
        max-height: 68vh;
        overflow-y: scroll;
        padding-top: 4vh;
    }

    .Reports .galleryReports .CardReport{
        margin: auto;
    }

    .Reports .optionsBar{
        margin: 0;
    }

    .Reports .optionsBar .IconList{
        display: none;
    }
    
    .Reports .menuBar{
        padding: 0;
        width: 100%;
        left: 0;
        top: 4.5vh;
    }

    .Reports .menuBar .optionsBar .SearchBar{
        width: 80vw;
        left: -1.5vh;
    }

    .Reports .optionsBar .SelectOptions{
        display: none;
    }

    .Reports .spaceSelectReports .DespleList{
        display: none;
    }
}