.PricesList{
    display: flex;
    flex-direction: column;
    padding: 2vh 4vh;
}

.PricesList .headPricesListC{
    display: flex;
    flex-direction: column;
    gap: .5vh;
    margin-bottom: 1vh;
}

.PricesList .headPricesListC .PathLocation{
    margin-left: -1vh;
}

.PricesList .searchOptions{
    display: flex;
    width: 100%;
    gap: 2vh;
    margin: 2vh 0;
}

.PricesList .searchOptions .SearchBar{
    width: 30vw;
    margin: auto 0;
}

.PricesList .searchOptions .SearchBar i{
    top: 2.5vh;
}

.PricesList .searchOptions .SelectOptions{
    margin: auto 0;
}

.PricesList .searchOptions .FormButton{
    width: 10vw;
}

.PricesList .searchOptions .ButtonMenu{
    margin: auto 0;
}


.PricesList .searchOptions .organizerView .ButtonMenu{
    background-color:#DFF2FE;
    margin: auto 1vh;
    height: 6vh;
    width: 6vh;
}

.PricesList .searchOptions .organizerView .ButtonMenu i{
    color: #007AFF;
}

.PricesList .searchOptions .ButtonDownload{
    width: fit-content;
    height: fit-content;
}