
.PricesListDetails{
    display: flex;
    flex-direction: column;
    padding: 0 4vh;
}

.PricesListDetails .headList{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.PricesListDetails .headList .PathLocation{
    margin-left: -1vw;
}
.PricesListDetails .headList .updatesInfo{
    display: flex;
    gap: 2vw;
}

.PricesListDetails .headList .updatesInfo .lastUpdated{
    font-size: clamp(1.5px,1.8vh,18px);
    color: var(--descriptionText);
    display: flex;
    gap: 1vh;
    margin-top: 1vh;
}

.PricesListDetails .searchContainer{
    display: flex;
    width: 100%;
    gap: 1vw;
    margin-top: 2vh;
    z-index: 10;
}

.PricesListDetails .searchContainer .SearchBar{
    margin: auto 0;
    width: 30vw;
}

.PricesListDetails .searchContainer .SelectOptions{
    margin: auto 0;
}

.PricesListDetails .searchContainer .ButtonDownload{
    margin: auto 0;
    width: fit-content;
}

.PricesListDetails .contentDetailsList{
    margin-top: 2vh;
    overflow-x: auto;
    padding: .1vh;
}