
.TableTransactions{
    padding: 1vh;
    position: relative;
    width: 100%;
    overflow: auto;
    height: fit-content;
}

.TableTransactions .headTable{
    display: flex;
    width: fit-content; 
    box-shadow: 0 .2vh 2vh #ccc5;
    position: absolute;
    z-index: 6;
}

.TableTransactions .headTable span{
    border-right: solid .1vh #ccc;
    border-bottom: solid .2vh #ccc;
    min-width:5vh;
    background-color: #fff;
    backdrop-filter: blur(1vh);
    padding: 1vh;
    padding-left: 2vh;
    margin: 0;
    font-weight: 500;
    font-size: clamp(2.2px,2.2vh,23px);
    color: #555;
}

.TableTransactions .headTable span:nth-child(3){
    width: 15vw;
}

.TableTransactions .headTable span:nth-child(4){
    width: 8vw;
}

.TableTransactions .headTable span:nth-child(5){
    width: 15vw;
}

.TableTransactions .headTable span:nth-child(6){
    width: 10vw;
}

.TableTransactions .headTable span:nth-child(7){
    width: 10vw;
}

.TableTransactions .headTable span:nth-child(8){
    width: 10vw;
}

.TableTransactions .headTable span:nth-child(9){
    width: 5;
}
.TableTransactions .headTable span:nth-child(10){
    width: 5;
}

.TableTransactions .bodyTable{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    overflow: auto;
}