
.FormNewProduct{
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 2vh;
    padding-top: 4vh;
}

.FormNewProduct .BoldTitle{
    margin: auto;
    margin-bottom: 2vh;
}

.FormNewProduct .errorContainer{
    position: absolute;
    width:90%;
    top: 8vh;
    right: 5%;
    background-color: #FEF2F2;
    border-radius: 1vh;
    padding: 2vh;
    padding-right: 4vh;
    border: solid .2vh #FF6467;
    z-index: 40;
}

.FormNewProduct .errorContainer .closeErrorBtn{
    cursor: pointer;
    position: absolute;
    top: 1.5vh;
    right: 2vh;
    font-size: clamp(3px,3vh,30px);
    color: #FF6467;   
}

.FormNewProduct .errorContainer span{
    color: #FF6467;   
    font-size: clamp(2px,2vh,20px);
    font-weight: 500;
}

.FormNewProduct form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    gap:2vh;
}

.FormNewProduct form section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.FormNewProduct form section .tagSection{
    margin: 0 auto;
}

.FormNewProduct form .FormButton{
    margin-top: 2vh;
}

.FormNewProduct .userPhoto{ 
    margin: 1vh auto;
    height: 20vh;
    width: 70%;
    padding: 1vh;
    cursor: pointer;
}

.FormNewProduct .actualPhoto{
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    padding: 1vh;
    overflow: hidden;
    background-color: var(--inputsBg);
    outline: dashed .2vh var(--inputsBorder);
}

.FormNewProduct .actualPhoto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.FormNewProduct .userPhoto .FileInput{
    display: none;
}

.FormNewProduct .userPhoto:hover .actualPhoto{
    display: none;
}


.FormNewProduct .userPhoto:hover .FileInput{
    display: block;
}


.FormNewProduct .accessSwitch{
    display: flex;
    width: 100%;
    margin: 2vh auto;
}

.FormNewProduct .accessSwitch h6{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 400;
    color: var(--descriptionText);
}

.FormNewProduct .accessSwitch .SwitchOption{
    margin: auto;
    margin-right: 2vh;
}

.FormNewProduct .withholdingsContainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.FormNewProduct .selectedWithholding{
    display: flex;
    gap: 1vh;
    width: 100%;
    border: none;
    border-radius: 1vh;
    padding: 1vh 2vh;
    background-color: var(--inputsBg);
    color: var(--primaryText);
    position: relative;
}

.FormNewProduct .selectedWithholding .withHoldingName{
    color: var(--mainText);
    font-size: clamp(2.2px,2.2vh,22px);
}

.FormNewProduct .deleteWithholding{
    margin: auto;
    margin-right: 0;
    cursor: pointer;
    transition: .3s;
}

.FormNewProduct .deleteWithholding:hover{
    color: #FF6467;
    transform: scale(1.25);
}

.FormNewProduct .selectedWithholding i{
    color: var(--descriptionText);
}
