@import '../containers/UserApp.css';

.ButtonMenu{
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
    display: flex;
    transition: .3s;
    cursor: pointer;
}

.ButtonMenu:hover{
    background-color: var(--iconHover);
}

.rotateIcon:hover i{
    transform: rotateZ(-20deg);
}
.rotateIcon:hover svg{
    transform: rotateZ(-50deg);
}

.ButtonMenu:hover .appsDots{
    transform: scale(0.65);
}

.ButtonMenu i{
    margin: auto;
    color: var(--sectionTitle);
    font-size: clamp(3px,2.7vh,30px);
    transition: .3s;
}

.ButtonMenu .appsDots{
    display: flex;
    transform: scale(0.6);
    flex-wrap: wrap;
    margin: auto;
    cursor: pointer;
    padding-left: .3vh;
    transition: .3s;
}

.ButtonMenu .appsDots div{
    height: 1.2vh;
    width: 1.2vh;
    margin: 0.35vh 0.3vh;
    border-radius: 100%;
    background-color: #5F6368;
}

.ButtonMenu .appsDots div:nth-child(1){background-color: #F54927;}
.ButtonMenu .appsDots div:nth-child(2){background-color: #FF2056;}
.ButtonMenu .appsDots div:nth-child(3){background-color: #51A2FF;}
.ButtonMenu .appsDots div:nth-child(4){background-color: #432DD7;}
.ButtonMenu .appsDots div:nth-child(5){background-color: #21BCFF;}
.ButtonMenu .appsDots div:nth-child(6){background-color: #36BBA7;}
.ButtonMenu .appsDots div:nth-child(7){background-color: #034F3B;}
.ButtonMenu .appsDots div:nth-child(8){background-color: #F6339A;}
.ButtonMenu .appsDots div:nth-child(9){background-color: #5D0EC0;}


.ButtonMenu svg{
    height: 4vh;
    width: 4vh;
    margin: auto;
    cursor: pointer;
    fill: var(--sectionTitle);
    transition: .3s;
}