
.CardMyBussinesUnits {
    position: relative;
    width: 32vh;             
    height: 25vh;        
    border-radius: 2vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    outline: solid .1vh #ddd;
}


.CardMyBussinesUnits img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2vh;
}

.CardMyBussinesUnits .contentCardMyBussines{
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 0vh;
    padding: 1vh 2vh;
    position: relative;
    border-radius: 2vh;
}



.CardMyBussinesUnits .BoldTitle{
    z-index: 3;
    color:var(--mainText);
    font-size: 2.4vh;
    font-weight: 600;
    margin-bottom: .5vh;
}

.CardMyBussinesUnits .DescriptionSpan {
    z-index: 3;
    color: var(--descriptionText);
    font-size: 1.6vh;
}

.CardMyBussinesUnits .MoreOptions{
    position: absolute;
    top: 1vh;
    right: 1vh;
    z-index: 5;
}

.CardMyBussinesUnits .MoreOptions .options{
    right: -2vh;
}

/* Pequeño hover */
.CardMyBussinesUnits:hover {
    box-shadow: 0 0 2vh var(--iconHover);
}
