
.FormButton{
    padding: 1.5vh 1vh;
    width: 100%;
    border-radius: .5vh;
    border: hidden;
    outline: none;
    color: #fff;
    background-color: #000000;
    font-weight: 500;
    font-size: clamp(2px,2.2vh,25px);
    cursor: pointer;
    box-shadow: 0 .4vh 2vh #0002;
    transition: .3s;
}

.negativeButton{
    background-color: #D9D9D9;
    color: #00022E;
    outline: solid .1vh #ccc;
    box-shadow: none;
}

.negativeButton:focus{
    transform: scale(.98);
    background-color: #000000;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.FormButton:hover{
    transform: scale(.95);
}

.FormButton:focus{
    transform: scale(.98);
    background-color: #D9D9D9;
    color: #00022E;
    box-shadow: none;
    outline: solid .1vh #aaa;
}

.FormButton i{
    margin-left: 1.5vh;
}