
.FormNewDocument{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4vh;
    width: 82vw;
    padding: 0 1vh;
}

.FormNewDocument .BeutyReciptContainer:nth-child(1){
    position: absolute;
    top: -7vh;
    right: 6vh;
    transform: rotateZ(180deg) rotateY(180deg);
    width: 40vh;
    min-height: 10vh;
    height: 13vh;
    text-align: right;
}

.FormNewDocument .BeutyReciptContainer:nth-child(1) .formSubmS{
    transform: rotateZ(180deg) rotateY(180deg);
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}

.FormNewDocument .BeutyReciptContainer:nth-child(1) .formSubmS strong{
    font-size: clamp(2px,2.5vh,25px);
    font-weight: 500;
    margin: auto;
    margin-left: 2vh;
    color: #666;
}

.FormNewDocument .BeutyReciptContainer:nth-child(1) .formSubmS .BoldTitle{
    font-size: clamp(3px,4vh,40px);
    font-weight: 600;
    margin: 1vh auto;
    margin-top: .5vh;
    margin-right: 2vh;
}

.FormNewDocument .BoldTitle{
    margin-bottom: 2vh;
    margin-left: 2vh;
    font-weight: 600;
    font-size: clamp(5px,5vh,50px);
}

.FormNewDocument .BoldTitle i{
    font-size: clamp(5px,5vh,50px);
    margin-right: 3vh;
}

.FormNewDocument .topParameters{
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
}

.FormNewDocument .topParameters .SearchinList{
    width: 30vh;
    margin: .5vh 2vh;
}

.FormNewDocument .topParameters .FormInput{
    min-width: 30vh;
    width: 30vh; 
    margin: 1vh 2vh;
}

.FormNewDocument .transactionsContainer{
    width: 100%;
    height: fit-content;
    padding: 0 1vh;
}

.FormNewDocument .footerParameters{
    display: flex;
    padding: 1vh;
    margin: 2vh 0;
}

.FormNewDocument .footerParameters .FormInput{
    min-width: 35vh;
    width: 50vh;
    margin: auto 0;
    margin-right: 2vh;
}

.FormNewDocument .alertSelStoreCel{
    height: 40vh;
    background-color: #afa;
}

.FormNewDocument .footerParameters .BeutyReciptContainer{
    margin: auto;
    margin-right: 1vh;
    width: 50vh;
    text-align: right;
}

.FormNewDocument .footerParameters .InputFiles{
    margin: auto 1vh;
}

.FormNewDocument .footerParameters .BeutyReciptContainer .formSubmS{
    display: flex;
    flex-direction: column;
}

.FormNewDocument .footerParameters .BeutyReciptContainer .formSubmS strong{
    font-size: clamp(2px,2.5vh,25px);
    font-weight: 500;
    margin: auto;
    margin-right: 2vh;
    color: #666;
}

.FormNewDocument .footerParameters .BeutyReciptContainer .formSubmS .BoldTitle{
    font-size: clamp(3px,4vh,40px);
    font-weight: 600;
    margin: 1vh auto;
    margin-right: 2vh;
}

.FormNewDocument .footerParameters .BeutyReciptContainer .formSubmS .btnC{
    display: flex;
    margin-top: 1vh;
}

.FormNewDocument .footerParameters .BeutyReciptContainer .formSubmS .btnC .FormButton{
    width: 45%;
    margin: auto;
}

.FormNewDocument .WarningForm{
    height: 40vh;
}