
.AccountSettings{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 2vh;
}

.AccountSettings .UserContainer{
    width: 100%;
    background-color: var(--menuAside);
    padding: 1vh;
    border-radius: 2vh;
}

.AccountSettings .UserContainer .UserCard img{
    margin-right: 2vh;
}