
.AiButton{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.AiButton button{
    padding: .1vh;
    width: fit-content;
    border-radius:4vh;
    display: flex;
    border: hidden;
    background-image: linear-gradient(45deg,#B8E6FE,#05DF72);
    cursor: pointer;
    box-shadow: 0 0 3vh #B8E6FE;
}

.AiButton button img{
    height: 5vh;
    width: 5vh;
    margin: auto;
    fill: var(--mainText);
    background-color: var(--bg);
    border-radius: 100%;
    transition: .3s;
}

.AiButton .sugerencesList{
    position: absolute;
    top: 7vh;
    right: 0;
    list-style: none;
    width: 15vw;
    /*background-image: linear-gradient(45deg,#FAE8FF,#CEFAFE);*/
    background-color: #E7E9ED;

    backdrop-filter: blur(3vh);
    padding: .5vh;
    border-radius: 1vh;
    box-shadow: 0 0 3vh #F6CFFF90;
    animation-name: appearAiSugerenceList;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    overflow: hidden;
}

.AiButton .sugerencesList li{
    position: relative;
    font-size: clamp(2.2px,2.2vh,22px);
    padding:  1vh;
    color: #00022E;
    cursor: pointer;
    transition: .3s;
    font-weight: 400;
    border-radius: 1vh;
    animation-name: apperIconApp;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.AiButton .sugerencesList li:hover{
    background-color: #fff7;
    padding-left: 2vh;
    transform: scale(0.98); 
    box-shadow: 0 0 3vh #F6CFFF;
}


@keyframes  appearAiSugerenceList {
    0%{
        transform: scale(0.7);
        top: 17vh;
        opacity: 10%;
    }

    100%{
        transform: scale(1.0);
        top: 7vh;
        opacity: 100%;
    }
}