.ProgressBar{
    display: flex;
}

.ProgressBar .totalBar{
    margin: auto;
    width: 60%;
    height: .8vh;
    background-color: var(--cardHover);
    border-radius: 1vh;
    outline: solid .1vh var(--inputsBorder);
    position: relative;
    box-shadow: .2vh 0 1vh var(--menuAside);
}

.ProgressBar .totalBar .progressIndicator{
    height:100%;
    box-shadow: .2vh 0 .5vh var(--bg);
    border-radius: 1vh;
    background-color: #007AFF;
}

.ProgressBar strong{
    margin: auto;
    width: 25%;
    font-size: clamp(2px,2vh,20px);
    font-weight: 400;
    color: var(--descriptionText);
}