.TableDetailTreasury table {
    width: 100%;
}



.TableDetailTreasury .headTable{
    padding: 2vh;
    display: flex;
    width: 100%;
    background-color: var(--menuAside);
    border: solid .1vh var(--inputsBorder);
    border-bottom: none;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
}

.TableDetailTreasury .headTable .TitleColumns {
    font-size: clamp(2px,2vh,20px);
    font-weight: 500;
    margin: auto;
    color: var(--sectionTitle);
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: none;
    text-overflow: ellipsis;
}

.TableDetailTreasury .headTable .TitleColumns:first-child{
    margin: auto;
    margin-left: 0;
}

.TableDetailTreasury .row{
    border: solid .1vh var(--inputsBorder);
    background-color: var(--bg);
    padding: 1.5vh 2vh;
    cursor: pointer;
    display: flex;
    border-bottom: 0;
    transition: .3s;
}

.TableDetailTreasury .roundedList .row:first-child{
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
}

.TableDetailTreasury .roundedBottom .row:last-child{
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    border-bottom: solid .1vh var(--inputsBorder);
}

.TableDetailTreasury .row:hover{
    background-color: var(--cardHover);
    padding-left: 3vh;
}

.TableDetailTreasury .row .elementRow{
    margin: auto auto;
    width: fit-content;
    text-align: center;
}

.TableDetailTreasury .row .colvalC{
    width: 10vw;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: none;
    text-overflow: ellipsis;
}

.TableDetailTreasury .row .elementRow:first-child{
    margin: auto;
    margin-left: 0;
}

.TableDetailTreasury .row .elementRow:last-child{
    margin: auto;
    margin-right: 2vh;
}

.TableDetailTreasury .row .elementRow .colValue{
    font-size: clamp(1.8px,2vh,20px);
    color: var(--descriptionText);
}

.TableDetailTreasury .bankCell {
    display: flex;
    width: 20vw ;
    overflow: hidden;
}

.TableDetailTreasury .infoBankCell{
    display: flex;
    flex-direction: column;
}

.TableDetailTreasury .bankCell img{
    height: 5vh;
    width: 5vh;
    background-color: var(--cardHover);
    border-radius: 100%;
    margin: auto 0;
    margin-right: 2vh;
    object-fit: cover;
    outline: solid .1vh var(--inputsBorder);
}

.TableDetailTreasury .bankCell  .bankCellName{
    display: flex;
    align-items: center;
    font-size: clamp(2.5px,2.3vh,23px);
    margin-bottom: .5vh;
}

.TableDetailTreasury .bankCell  .bankCellName strong{
    max-width: 15vw;
    font-weight: 600;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: none;
    text-overflow: ellipsis;
    color: var(--mainText);
}

.TableDetailTreasury .bankCell .bankCellDescription{
    display: flex;
    align-items: center;
    gap: 2vh;
    font-weight: 400;
    margin-left: .5vh;
    color: var(--descriptionText);
    padding-left: .5vh;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: none;
    text-overflow: ellipsis;
    font-size: clamp(2px,2vh,20px);
}

.TableDetailTreasury .row .bankCell .bankCellName i {
    margin: auto;
    margin-left: 1.5vh;
    color:var(--descriptionText);
    font-size: 1.8vh;
}
.TableDetailTreasury .SubCategory {
    color: #8D8D8D;
    transform: rotate(90deg);
}

.TableDetailTreasury .balanceCell {
    display: flex;
    align-items: center;
    width: 10vw !important;
    margin-right: 0;
}

.TableDetailTreasury .balanceCell h5{
    font-size: clamp(2px,2vh,20px);
    font-weight: 500;
    color: var(--mainText);
    margin: auto;
    margin-right: 1vh;
}

.TableDetailTreasury .balanceCell .statusDot{
    margin: auto;
    margin-right: 0;
}

.TableDetailTreasury .statusDot {
    width: 2vh;
    height: 2vh;
    border-radius: 100%;
}

.TableDetailTreasury .positive .statusDot {
    background-color: #28D97B;
    border: solid 0.4vh #01673153;
}

.TableDetailTreasury .negative .statusDot {
    background-color: #D92828;
    border: solid .4vh #F9B2B2; /* QUEDO UN COLOR DIFERENTE */
}

.TableDetailTreasury .NoResults{
    height: 50vh;
}