
.AboutUs{
  width: 100%;
  height: 100vh;
}

.AboutUs .AboutUsTitle{
  justify-items: center;
}

.AboutUs .AboutUsTitle {
  margin: auto;
  padding-top: 6vh;
  width: 100%;
  font-weight: 400;
  font-size: clamp(2.5rem,10vh, 1000px); 
  letter-spacing: -0.5px;
  margin: 0.25em 0;
  color: #000; 
}

.AboutUs .AboutUsTitle h1 {
  font-size: 8vh;
  font-weight: 400;
}

.AboutUs .AboutUsTitle .highlight {
  color: #f57c00; 
}



/* PENDIENTE SI SE REALIZA DE ESTA FORMA, POR LO QUE SE TOCA EL FOOTER */
.AboutUs .MediaHandler{
  position: absolute;
  height: 20vh;
  top: -36vh;
  right: 36vw;
}