
.SectionComponents{
    display: flex;
    flex-direction: column;
    gap: 3dvh;
    padding: 4dvw 20dvh;           
    text-align: center;  
    width: 80dvw;
    margin: 0 10dvw;
    justify-content: center;
}

.SectionComponents .sectionComponentsText {
    max-width: 90dvw;
    width: 100%;
    justify-items: center;
}

.SectionComponents .SectionComponentsCards{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 6dvh 8dvw;
    justify-content: start;

    margin: 1vh;
    padding: 1dvw;
}