
.CreatePricesList{
    display: flex;
    flex-direction: column;
    min-width: 45vh;
}

.CreatePricesList .BoldTitle{
    margin: 2vh auto;
}

.CreatePricesList form {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.CreatePricesList form .FacturationFormInput, .CreatePricesList .FacturationSearchinList{
    margin: 1vh auto;
    width: 100%;
}

.CreatePricesList form .FormButton{
    margin: 2vh auto;
}