@import '../UserApp.css';

.FormNewTax{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color:var(--bg);
    padding: 2vh;
    padding-top: 6vh;
    border-radius: 2vh;
}

.FormNewTax .BoldTitle{
    margin:1vh auto; 
}

.FormNewTax form{
    display: flex;
    flex-direction: column;
    padding: 0 1vh;
    gap: 2vh;
}

.FormNewTax form .FlexOption{
    display: flex;
    padding: 1vh;
}

.FormNewTax form .FlexOption .SwitchOption{
    margin: auto 0;
    width: 3vw;
}

.FormNewTax form .FlexOption h6{
    font-size: clamp(2.2px,2.5vh,25px);
    font-weight: 500;
    color: var(--descriptionText);
    margin: auto 0;
    margin-right: 1vw;
}

.FormNewTax form .FacturationFormInput{
    margin-bottom: .5vh;
}