@import '../UserApp.css';

.FormNewOc{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    margin-top: 2vh;
}

.FormNewOc .BoldTitle{
    margin: 2vh auto;
}

.FormNewOc form{
    padding: 0 2vh;
    display: flex;
    flex-direction: column;
}

.FormNewOc form .FormInput{
    margin: 2vh auto;
    width: 100%;
}

.FormNewOc form .FormButton{
    margin: 1vh;
    margin-bottom: 2vh;
}

.FormNewOc form .SearchinList{
    margin: 2vh auto;
    width: 100%;
}

.FormNewOc form .SearchinList label{
    font-weight: 400;
    color: var(--descriptionText);
}