
.FormNewThirdParties{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    min-width: 40vw;
    width: 100%;
    margin: 0 auto;
    background-color: var(--menuAside);
}

.FormNewThirdParties .BoldTitle{
    margin: 1vh auto;
}

.FormNewThirdParties .stageProcess{
    padding: 1vh;
    width: 100%;
    margin: 1vh auto;
}


.FormNewThirdParties .userPhoto{ 
    margin: 1vh auto;
    height: 20vh;
    width: 50%;
    padding: 1vh;
    cursor: pointer;
}

.FormNewThirdParties .actualPhoto{
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    overflow: hidden;
    background-color: var(--inputsBg);
    outline: dashed .2vh var(--inputsBorder);
}

.FormNewThirdParties .actualPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FormNewThirdParties .userPhoto .FileInput{
    display: none;
}

.FormNewThirdParties .userPhoto:hover .actualPhoto{
    display: none;
}


.FormNewThirdParties .userPhoto:hover .FileInput{
    display: block;
}

.FormNewThirdParties .stageProcess .progresBar{
    height: 1vh;
    width: 100%;
    background-color: var(--menuAside);
    border-radius: 1vh;
    box-shadow: inset 0 .1vh 1vh var(--inputsBorder);
}

.FormNewThirdParties .stageProcess .progresBar .Progress{
    height: 100%;
    border-radius: 1vh;
    background-color: #007AFF;
    transition: .3s;
    box-shadow: 0 .1vh 1vh var(--inputsBorder);
}

.FormNewThirdParties form{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.FormNewThirdParties form .BoldTitle{
    font-size: clamp(2.5px,3vh,30px);
    font-weight: 400;
    color: var(--descriptionText);
}

.FormNewThirdParties .FormButton{
    margin-top: 2vh;
}

.FormNewThirdParties .setAutomaticTaxIndo{
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 2vh;
}

.FormNewThirdParties .setAutomaticTaxIndo strong{
    padding: 1vh;
    text-align: center;
    width: 50%;
    border-radius: .5vh;
    cursor: pointer;
    font-size: clamp(2.8px,2.5vh,30px);
    font-weight: 400;
    color: var(--descriptionText);
}

.FormNewThirdParties .setAutomaticTaxIndo .activeTaxInfoOption{
    background-color: var(--inputsBg);
    color: var(--mainText);
}

.FormNewThirdParties .setAutomaticTaxIndo .modeTaxInfoIndicator{
    position: absolute;
    height: .2vh;
    width: 50%;
    background-image: linear-gradient(to right,var(--bg), #007AFF ,var(--bg));
    bottom: -1vh;
    transition: .3s;
}

.FormNewThirdParties .setAutomaticTaxIndo strong:hover{
    background-color: var(--menuAside);
}

.FormNewThirdParties .accessSwitch{
    display: flex;
    width: 100%;
    margin: 2vh auto;
}

.FormNewThirdParties .accessSwitch h6{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 400;
    color: var(--descriptionText);
}

.FormNewThirdParties .accessSwitch .SwitchOption{
    margin: auto;
    margin-right: 2vh;
}

@media (max-width:500px) {
    .FormNewThirdParties{
        width: 100dvw;
    }

    .FormNewThirdParties form .BoldTitle{
        display: none;
    }
}