
.FormNewCostCenter{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    padding-top: 6vh;
}

.FormNewCostCenter .BoldTitle{
    margin: 1vh auto;
}

.FormNewCostCenter form{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}