
.FormNewCashRecipt{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    position: relative;
    overflow-x: hidden;
}

.FormNewCashRecipt .headForm{
    position: fixed;
    z-index: 30;
    top: 0;
    gap: .5vh;
    padding: 2vh;
    background-color: var(--bg);
    width: inherit;
    box-shadow: 0 .5vh 1vh var(--menuAside);
    display: flex;
    border-bottom: solid .1vh var(--inputsBorder);
    flex-direction: column;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

.FormNewCashRecipt .headForm .valuesCashRecipt{
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.FormNewCashRecipt .headForm .valueCashRecipt{
    margin: auto 0;
    font-size: clamp(3px,3vh,30px);
    font-weight: 400;
    color: var(--descriptionText);
}

.FormNewCashRecipt .headForm .closeFormBtn{
    position: absolute;
    top: 3vh;
    right: 3vh;
    font-size: clamp(3px,3vh,30px);
    cursor: pointer;
    color: var(--mainText);
}

.FormNewCashRecipt form{
    margin: 1vh auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 3vh;
    padding-bottom: 5vh;
    margin-top: 14vh;
}

.FormNewCashRecipt .LoadingSpace{
    height: 60vh;
    margin: auto;
}

.FormNewCashRecipt form .paymentMehtodsContainer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    padding-bottom: 2vh;
    border-bottom: dashed .3vh var(--inputsBorder);
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard .payMC, 
.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard .voucherC
{
    display: flex;
    gap: 1vw;
    padding: 1vh;
}

.FormNewCashRecipt form .gridPaymentMethods .PaymentMethodCard:hover > .addVoucherToPayment{
    display: block;
}

.FormNewCashRecipt form .gridPaymentMethods .addVoucherToPayment{
    display: none;
    padding: 1vh;
    margin: auto 1vh;
    background-color: var(--bg);
    color: #007AFF;
    font-size: clamp(2px,2vh,20px);
    cursor: pointer;
    border-radius: 1vh;
    border: hidden;
}

.FormNewCashRecipt form .gridPaymentMethods .addVoucherToPayment:hover{
    background-color: #BEDBFF;
}

.FormNewCashRecipt form .gridPaymentMethods .addVoucherToPayment i{
    margin-right: .5vw;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard strong{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 400;
    width: 50%;
    overflow: hidden;
    white-space: none;
    text-overflow: ellipsis;
    padding-left: 1vh;
    text-wrap: nowrap;
    margin: auto 0;
    color: var(--descriptionText);
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard .inputPaymentValue{
    border: hidden;
    outline: solid .1vh var(--inputsBorder);
    font-size: clamp(2.2px,2.2vh,22px);
    border-radius: 1vh;
    height: 100%;
    width: 35%;
    padding: .5vh 1vh;
    padding-left: 2vh;
    color: var(--descriptionText);
    background-color: var(--inputsBg);
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard .inputPaymentValue:focus{
    
    color: var(--mainText);
    outline: solid .3vh #007AFF;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard .delPaymentBtn{
    margin: auto;
    cursor: pointer;
    color: var(--mainText);
    transition: .3s;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .PaymentMethodCard .delPaymentBtn:hover{
    color: #FF6467;
    transform: rotateZ(-10deg);
}

.FormNewCashRecipt form .disabledByValueBtn{
    background-color: #FFA2A2;
    color: #C11007;
    cursor: not-allowed;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .warnByValue{
    font-size: clamp(2px,2vh,20px);
    color: #C11007;
    padding: 1vh 2vh;
}

.FormNewCashRecipt form .paymentMehtodsContainer .gridPaymentMethods .disabledPaymentMethodCard .payMC input{
    background-color: #FFC9C9;
    border: solid .1vh #FF6467;
    color: #C11007;
}

.FormNewCashRecipt form .aviableBriefCaseContainer{
    display: flex;
    flex-direction: column;
}

.FormNewCashRecipt form .aviableBriefCaseContainer h6{
    margin-bottom: 2vh;
    font-size: clamp(2.2px,2.5vh,25px);
    font-weight: 500;
    color: var(--mainText);
}

.FormNewCashRecipt form .aviableBriefCaseContainer .gridBirefCaseBills{
    display: flex;
    flex-direction:column;
    gap: 1vh;
    padding: 2vh;
    border-radius: 1vh;
    background-color: var(--cardHover);
}

.FormNewCashRecipt form .aviableBriefCaseContainer .gridBirefCaseBills .briefCaseCard{
    display: flex;
    padding: 1vh;
    padding-bottom: 2vh;
    border-bottom: dashed .1vh var(--inputsBorder);
    gap: 1vh;
}

.FormNewCashRecipt form .aviableBriefCaseContainer .gridBirefCaseBills .briefCaseCard strong{
    font-size: clamp(2.2px,2.2vh,22px);
    font-weight: 500;
    color: var(--mainText);
    margin: auto 0;
    cursor: pointer;
}

.FormNewCashRecipt form .aviableBriefCaseContainer .gridBirefCaseBills .briefCaseCard span{
    font-size: clamp(2.2px,2.2vh,22px);
    margin: auto 1vh;
    color: var(--descriptionText);
}
 
.FormNewCashRecipt form .aviableBriefCaseContainer .gridBirefCaseBills .briefCaseCard input{
    padding: 1vh;
    border-radius: 1vh;
    border: hidden;
    outline:solid .1vh var(--inputsBg);
    font-size: clamp(2px,2vh,20px);
    width: 30%;
    margin: auto;
    margin-right: 1vh;
    color: var(--descriptionText);
    background-color: var(--inputsBg);
}

.FormNewCashRecipt form .aviableBriefCaseContainer .gridBirefCaseBills .briefCaseCard input:focus{
    outline: solid .3vh #007AFF;
    color: var(--mainText);
}



@media (max-width:500px) {
    .FormNewCashRecipt{
        width: 100dvw;
        overflow-y: auto;
    }

    .FormNewCashRecipt .headForm{
        flex-direction: column;
        padding-left: 9vh;
    }

    .FormNewCashRecipt .headForm .valueCashRecipt{
        margin: 0;
    }

    .FormNewCashRecipt .headForm .closeFormBtn{
        position: absolute;
        top: 3vh;
        right: 3vh;
    }

    .FormNewCashRecipt form{
        margin-top: 16vh;
    }
}